.layoutContainer {
  width: 100vw;
  height: 100vh;
  /* background-image: linear-gradient(
    90.1deg,
    rgba(84, 212, 228, 1) 0.2%,
    rgba(68, 36, 164, 1) 99.9%
  ); */
  background-image: linear-gradient(
    92.7deg,
    rgba(245, 212, 212, 1) 8.5%,
    rgba(252, 251, 224, 1) 90.2%
  );
  display: grid;
  grid-template-columns: 20% 80%;
}

.mainContent {
  grid-area: 1 / 2 / -1 / 3;
  padding-top: 5vh;
}

@media screen and (max-width: 1000px) {
  .layoutContainer {
    grid-template-columns: 30% 70%;
  }
}
