.sidebarContainer {
  background-color: black;
  color: white;
  margin: 0;
  /* width: 20%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  /* padding-left: 1vw; */
  text-align: left;
}
.sidebarHead {
  text-align: left;
  font-size: 4.6vw;
  padding-left: 10px;
  font-family: 'Rubik Pixels', cursive;
  margin-bottom: 5vh;
}

.headLink {
  font-size: 2.6vw;
  padding: 2px;
  padding-left: 10px;
  transition: all 0.5s;
  font-family: 'Libre Baskerville', serif;
}

.headLink:hover {
  padding-left: 20px;
  color: black;
  /* background-color: brown; */
  background-image: linear-gradient(
    90.1deg,
    rgba(84, 212, 228, 1) 0.2%,
    rgba(68, 36, 164, 1) 99.9%
  );
  text-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.headLink:active {
  padding-left: 20px;
  color: black;
  /* background-color: brown; */
  background-image: linear-gradient(
    90.1deg,
    rgba(84, 212, 228, 1) 0.2%,
    rgba(68, 36, 164, 1) 99.9%
  );
}

.innerLinksDiv {
  display: flex;
  flex-direction: column;
}

.innerLinks {
  font-size: 2vw;
  padding: 5px;
  padding-left: 20px;
  transition: all 0.5s;
  border-radius: 0.3rem 0 0 0.3rem;
  font-family: 'Libre Baskerville', serif;
}

.innerLinks:hover {
  padding-left: 30px;
  /* background-color: Brown; */
  background-image: linear-gradient(
    90.1deg,
    rgba(84, 212, 228, 1) 0.2%,
    rgba(68, 36, 164, 1) 99.9%
  );
  background-blend-mode: darken;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (max-width: 1000px) {
  .sidebarContainer {
    /* width: 30%; */
  }
  .headLink {
    font-size: 4vw;
    padding-left: 5px;
  }
  .innerLinks {
    font-size: 3vw;
  }
}
