.sideContainer {
  width: 17vw;

  background-color: white;

  height: 100vh;

  position: fixed;

  border-radius: 0 1rem 1rem 0;
  border-style: solid solid none none;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.sideBarbutton {
  display: none;
  position: absolute;
  translate: -1vw;
  border-radius: 0px 15px 15px 0px;
}

.sideBarbuttonclose {
  display: none;
  position: absolute;
  translate: 20vw;
  border-radius: 15px 0px 0px 15px;
}

.sideListmob {
  width: 30vw;
  background-color: white;
  height: 100vh;

  border-radius: 0 1rem 1rem 0;
  border-style: solid solid none none;
  border-style: solid solid none none;
}

@media screen and (min-width: 900px) {
  .sideListmob {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .sideContainer {
    width: 0vw;
  }
  .sideListweb {
    display: none;
  }
  .sideBarbutton {
    display: grid;
  }
  .sideBarbuttonclose {
    display: grid;
  }
  .sideListmob {
    width: 35vw;
  }
  .sideBarbuttonclose {
    translate: 27vw;
    z-index: 1;
  }
}

@media screen and (max-width: 600px) {
  .sideListmob {
    width: 45vw;
  }
  .sideBarbuttonclose {
    translate: 37vw;
  }
}
