.chartContainer{
    width: 80vw;
    height: 70vh;
    border: 1px solid grey;
    margin-top: 5vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    z-index: 1;
}

.chartBarSubmit{
    color: rgb(37, 209, 37);
}

.chartBarPending{
    color: rgb(236, 51, 51);
}

.tooltip{
    background-color: 'black' !important;
     color: 'white' !important
}

.chartTitle{
    color: rgb(252, 41, 4);
    text-align: center;
    font-size: 3vw;
    /* margin-top: 2vh;
    margin-bottom: 2vh; */
}