.payCont {
  display: grid;
  margin-top: 50px;
  gap: 2rem;
  margin: 2vh 2vw;
  width: 50vw;
  grid-template-columns: minmax(200px, 38vw);
  align-content: center;
  justify-content: center;
  padding-bottom: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.formCont {
  /* background-color: chartreuse; */
  background-color: inherit;
  padding: 2rem;
  border-radius: 0.5rem;
  /* border: 7px rgb(64, 128, 1) solid; */
  /* border-style: solid solid none none; */
  /* border-left: 3px rgb(64, 128, 1) solid; */
  /* border-bottom: 3px rgb(64, 128, 1) solid; */
}

.details {
  padding-left: 2vw;
  padding-top: 2vh;
}

.detailsHead{
  text-align: center;
  /* color: gray; */
}

.detailsBody{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.detailsBodyCol1{

}


.detailsCol1Row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  align-items: baseline;

}

.detailsCol1Row > span{
  font-weight: bold;
  color: gray;
}

.detailsBodyCol2{

}

.detailsCol2Row{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  color: gray;
}


@media screen and (max-width: 1300px) {
  .payCont {
    width: 60vw;
    grid-template-columns: minmax(200px, 90vw);
  }
}

@media screen and (max-width: 900px) {
  .payCont {
    width: 70vw;
    grid-template-columns: minmax(200px, 90vw);
  }
}

@media screen and (max-width: 800px) {
  .payCont {
    width: 90vw;
    grid-template-columns: minmax(200px, 90vw);
  }
}

@media screen and (max-width: 700px) {
  .payCont {
    width: 90vw;
    grid-template-columns: minmax(200px, 90vw);
  }
}
