.payCont {
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(200px, 38vw);
  align-content: center;
  justify-content: center;
}

.formCont {
  background-color: chartreuse;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 7px rgb(64, 128, 1) solid;
  border-style: solid solid none none;
  border-left: 3px rgb(64, 128, 1) solid;
  border-bottom: 3px rgb(64, 128, 1) solid;
}

.payForm {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.formselect {
  display: grid;
  gap: 0.2rem;
  justify-content: center;
}

.forminput {
  display: grid;
  justify-content: center;
  gap: 0.2rem;
}

.formselect > select {
  width: 20vw;
  background-color: rgb(106, 211, 2);
  padding: 0.3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.3rem;
  border: 3px rgb(64, 128, 1) solid;
  border-style: none none solid solid;
}

.forminput > input {
  width: 20vw;
  padding: 0.3rem;
  background-color: rgb(106, 211, 2);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 3px rgb(64, 128, 1) solid;
  border-style: none none solid solid;
  border-radius: 0.3rem;
}

.payForm > button {
  width: 20vw;
  border-radius: 0.4rem;
  border: 0;
  padding: 10px;
  background-color: rgb(106, 211, 2);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 30px;
  transition: all 0.5s;
}

.payForm > button:hover {
  background-color: rgb(80, 158, 1);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 5px rgb(106, 211, 2) solid; */
  border: 3px rgb(64, 128, 1) solid;
  border-style: none none solid solid;
}

@media screen and (max-width: 700px) {
  .payForm > button {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .payForm > button {
    font-size: 10px;
  }
}
