.listCont {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  /* gap: 1rem; */
  grid-template-rows: repeat(6, 50px);
  grid-template-columns: 50% 50%;
}

.checkCont {
  display: grid;
  grid-template-columns: 80% 10%;
  justify-content: left;
  gap: 0.2rem;
}

.checkCont > input {
  /* height: 50px; */
  /* width: 50px; */
  width: 1rem;
}

.monthCont {
  display: flex;
  justify-content: center;
  width: 15vw;
  text-align: center;
  padding: 0.5rem;

  border-radius: 5px;
  justify-content: space-between;
}

.data {
  font-size: 30px;
}

.month > h3 {
  display: grid;
  margin: 0;
}

.notPaid {
  background-color: rgb(255, 217, 217);
}

.paid {
  background-color: rgb(217, 247, 217);
}

@media screen and (max-width: 1300px) {
  /* .data {
    font-size: 20px;
  } */

  .monthCont {
    margin-left: 20px;
    width: 20vw;
  }
}

@media screen and (max-width: 900px) {
  /* .data {
    font-size: 15px;
  } */

  .monthCont {
    margin-left: 20px;
    width: 25vw;
  }
}

@media screen and (max-width: 800px) {
  .month > h3 {
    font-size: 0.3rem;
  }
  .checkCont > input {
    width: 4vw;
  }
  .monthCont {
    margin-left: 15px;
    width: 34vw;
  }

  /* .data {
    font-size: 10px;
  } */
}

@media screen and (max-width: 700px) {
  .monthCont {
    margin-left: 20px;
    width: 33vw;
  }
}

@media screen and (max-width: 570px) {
  .data {
    font-size: 20px;
  }
  .monthCont {
    margin-left: 20px;
    width: 33vw;
  }
}

@media screen and (max-width: 450px) {
  .data {
    font-size: 15px;
  }
  .monthCont {
    margin-left: 20px;
    width: 33vw;
  }
}
