.listCont {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  /* gap: 1rem; */
  grid-template-rows: repeat(6, 50px);
  grid-template-columns: 50% 50%;
}

.checkCont {
  display: grid;
  grid-template-columns: 80% 10%;
  justify-content: left;
  gap: 0.2rem;
  display: flex;
  justify-content: center;
}

.checkCont > input {
  /* height: 50px; */
  /* width: 50px; */
  width: 1.3rem;
  background-color: inherit;
  color: inherit;
}

.monthCont {
  display: flex;
  justify-content: center;
  width: 15vw;
  text-align: center;
  padding: 0.5rem;

  border-radius: 5px;
  justify-content: space-between;
}

.data {
  /* font-size: 30px; */
}

.month > h3 {
  display: grid;
  margin: 0;
}

.notPaid {
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: rgb(255, 217, 217);
}

.paid {
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: rgb(217, 247, 217);
}

.checked {
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: rgb(254, 234, 234);
}
