.form {
  width: auto;
  /* padding: 1rem 2rem; */
  padding: 1rem;
  margin-top: 3vh;
  padding-top: 5vh;
  /* background-color: #00d4ff; */
  background-color: inherit;
  border-radius: 2rem;
  display: grid;

  grid-template-columns: 100%;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  text-align: center;
  color: rgb(0, 3, 3);
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  /* flex-wrap: wrap; */
}

.formLabel {
}

.photofield {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  background-color: #4cc713;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
  border: none;
  border-radius: 1em;
  font-weight: bold;
  z-index: 0;
}

.buttonDownload:hover {
  background-color: #1a60a2;
  color: white;
}

.buttonDownload:before,
.buttonDownload:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

.buttonDownload:before {
  width: 14px;
  height: 2px;
  translate: 0 5px;
  border-style: solid;
  border-width: 0 2px 2px;
}

.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  border-color: #bdd3ef;
}

.buttonDownload:hover:after {
  border-top-color: #eff1f7;
  animation-play-state: running;
}

@keyframes downloadArrow {
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0.4;
  }
}

.formInput {
  /* max-width: 27vw; */
  /* background-color: #5de2fc; */
  background-color: inherit;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.inputCont {
  width: 70vw;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: left;
}

.inputdiv {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.oneinputdiv {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  /* display: grid; */
  /* grid-template-columns: 50% 50%; */
}

.inputAddCont {
  /* width: 50vw; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding: 1rem;
  gap: 2rem;
  border-radius: 0.5rem;
  /* align-content: center; */
  /* justify-content: center; */
  text-align: left;
  background-color: rgb(236, 248, 236);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  justify-content: center;
  text-align: center;
}

.formInput {
  padding: 0.5vw;
  text-align: center;
}

.inputCont {
  display: grid;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(170px, 17vw)); */
  gap: 1rem;
}

.formInput::placeholder {
  padding: 2vw;
}

.submitdiv {
  display: grid;
  /* justify-content: center; */
}

.submitButton {
  color: black;

  align-self: center;
  /* border: 100px; */
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all 0.5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.submitButton:hover {
  /* background-color: rgb(221, 252, 255); */

  background-color: #b6f3ff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media screen and (max-width: 700px) {
  .inputdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
