.mainContainer {
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: center;
  /* background-color: rgb(243, 237, 237); */
  /* gap: 2.5rem; */
}

.mainContent {
  margin-top: 5vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.closeIcon {
  display: none;
  position: fixed;
  z-index: 1;
  top: 4rem;
  left: 10vw;
}

.openIcon {
  position: fixed;

  top: 4rem;

  z-index: 1;
}

@media screen and (max-width: 1550px) {
  .mainContainer {
    grid-template-columns: 10% 90%;
  }
  .closeIcon {
    display: none;
    left: 12.5vw;
  }
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    grid-template-columns: 20% 80%;
  }
  .closeIcon {
    display: none;
    left: 20vw;
  }
}

@media screen and (max-width: 800px) {
  .mainContainer {
    grid-template-columns: 0% 100%;
  }
  .closeIcon {
    display: block;
    left: 28vw;
  }
}

@media screen and (max-width: 700px) {
  .mainContainer {
    grid-template-columns: 0% 100%;
  }
  .closeIcon {
    display: block;
    left: 28vw;
  }
}

@media screen and (max-width: 500px) {
  .mainContainer {
    grid-template-columns: 0% 100%;
  }
  .closeIcon {
    display: block;
    left: 36vw;
  }
  .sidebar {
    position: absolute;
    left: -28vw;
  }
}
