.mainContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
  /* gap: 2.5rem; */
}

.mainContent {
  margin-top: 5vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 1550px) {
  .mainContainer {
    grid-template-columns: 30% 70%;
  }
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    grid-template-columns: 40% 60%;
  }
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    grid-template-columns: 40% 60%;
  }
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    grid-template-columns: 40% 60%;
  }
}
