.sideBar {
  background-color: rgb(229, 243, 229);
  position: sticky;
  box-shadow: 3px 0px 10px 1px #c4c7c5;
  height: 100vh;
  margin: 0;
  position: fixed;
  display: flex;
  width: 12.2vw;
  padding-top: 20px;
}
.sideBarContainer {
  /* padding: 0 2rem; */
  /* padding-left: 0.5rem; */
}

.sideBarListItem {
  list-style: none;
  color: rgb(88, 88, 88);
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  /* position: relative; */
  transition: all 0.5s;
  padding-left: 1rem;
  /* margin-left: 1rem; */
  /* left: -10px; */
}
.sideBarListItem:hover {
  cursor: pointer;
  color: rgb(33, 48, 38);
  border-radius: 5px;
  background-color: rgb(133, 214, 130);
}
.sideBarListTitle {
  font-size: 20px;
  color: rgb(2, 95, 36);
  padding-left: 1rem;
}
.sideBarList {
  /* margin: 0; */
  /* padding: 0; */
  position: relative;
  /* left: -40px; */

  text-align: left;
}
.link {
  text-decoration: none;
}
.active {
  color: green;
}
.sideBarLogo {
  margin-left: 15px;
}

/* @media screen and (max-width: 15500px) {
  .sideBar {
    width: 15vw;
  }
} */

@media screen and (max-width: 1200px) {
  .sideBar {
    width: 20vw;
  }
}

@media screen and (max-width: 800px) {
  .sideBar {
    width: 28vw;
    position: absolute;
    left: 0;
  }
}

@media screen and (max-width: 700px) {
  .sideBar {
    width: 28vw;
    position: absolute;
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .sideBar {
    width: 36vw;
    position: absolute;
    left: 0;
  }
}

@media screen and (max-width: 380px) {
  .sideBar {
    width: 42vw;
    position: absolute;
    left: 0;
  }
}
